In [2]:
import findspark
findspark.init('/opt/spark')

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .getOrCreate()

spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/11 08:16:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [1]:
!hdfs dfs -put crime.csv /tmp/
!hdfs dfs -put offense_codes.csv /tmp/

2025-01-11 08:15:54,838 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
put: `/tmp/crime.csv': File exists
2025-01-11 08:15:55,828 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
put: `/tmp/offense_codes.csv': File exists

In [4]:
crimeFacts = (spark
    .read
    .option("header", "true")
    .option("inferSchema", "true")
    .csv("/tmp/crime.csv")
    .cache())

In [5]:
crimeFacts.show()

+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
|INCIDENT_NUMBER|OFFENSE_CODE|  OFFENSE_CODE_GROUP| OFFENSE_DESCRIPTION|DISTRICT|REPORTING_AREA|SHOOTING|   OCCURRED_ON_DATE|YEAR|MONTH|DAY_OF_WEEK|HOUR|  UCR_PART|           STREET|        Lat|        Long|            Location|
+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
|     I182070945|         619|             Larceny|  LARCENY ALL OTHERS|     D14|           808|    null|2018-09-02 13:00:00|2018|    9|     Sunday|  13|  Part One|       LINCOLN ST|42.35779134|-71.13937053|(42.35779134, -71...|
|     I182070943|        1402|           Vandalism|           VANDALISM|     C11|           347|    null|2018-08-21 00:00:00|2018|    8|    Tuesday|   0|  Part Two|         HECLA ST|42.30682138|-71.06030035|(42.30682138, -71...|
|     I182070941|        3410|               Towed| TOWED MOTOR VEHICLE|      D4|           151|    null|2018-09-03 19:27:00|2018|    9|     Monday|  19|Part Three|      CAZENOVE ST|42.34658879|-71.07242943|(42.34658879, -71...|
|     I182070940|        3114|Investigate Property|INVESTIGATE PROPERTY|      D4|           272|    null|2018-09-03 21:16:00|2018|    9|     Monday|  21|Part Three|       NEWCOMB ST|42.33418175|-71.07866441|(42.33418175, -71...|
|     I182070938|        3114|Investigate Property|INVESTIGATE PROPERTY|      B3|           421|    null|2018-09-03 21:05:00|2018|    9|     Monday|  21|Part Three|         DELHI ST|42.27536542|-71.09036101|(42.27536542, -71...|
|     I182070936|        3820|Motor Vehicle Acc...|M/V ACCIDENT INVO...|     C11|           398|    null|2018-09-03 21:09:00|2018|    9|     Monday|  21|Part Three|       TALBOT AVE|42.29019621|-71.07159012|(42.29019621, -71...|
|     I182070933|         724|          Auto Theft|          AUTO THEFT|      B2|           330|    null|2018-09-03 21:25:00|2018|    9|     Monday|  21|  Part One|      NORMANDY ST|42.30607218| -71.0827326|(42.30607218, -71...|
|     I182070932|        3301|     Verbal Disputes|      VERBAL DISPUTE|      B2|           584|    null|2018-09-03 20:39:37|2018|    9|     Monday|  20|Part Three|          LAWN ST|42.32701648|-71.10555088|(42.32701648, -71...|
|     I182070931|         301|             Robbery|    ROBBERY - STREET|      C6|           177|    null|2018-09-03 20:48:00|2018|    9|     Monday|  20|  Part One|MASSACHUSETTS AVE|42.33152148|-71.07085307|(42.33152148, -71...|
|     I182070929|        3301|     Verbal Disputes|      VERBAL DISPUTE|     C11|           364|    null|2018-09-03 20:38:00|2018|    9|     Monday|  20|Part Three|        LESLIE ST|42.29514664|-71.05860832|(42.29514664, -71...|
|     I182070928|        3301|     Verbal Disputes|      VERBAL DISPUTE|      C6|           913|    null|2018-09-03 19:55:00|2018|    9|     Monday|  19|Part Three|    OCEAN VIEW DR|42.31957856|-71.04032766|(42.31957856, -71...|
|     I182070927|        3114|Investigate Property|INVESTIGATE PROPERTY|      C6|           936|    null|2018-09-03 20:19:00|2018|    9|     Monday|  20|Part Three|      DALESSIO CT|42.34011469|-71.05339029|(42.34011469, -71...|
|     I182070923|        3108|Fire Related Reports|FIRE REPORT - HOU...|      D4|           139|    null|2018-09-03 19:58:00|2018|    9|     Monday|  19|Part Three|   MARLBOROUGH ST| 42.3503876| -71.0878529|(42.35038760, -71...|
|     I182070922|        2647|               Other|THREATS TO DO BOD...|      B3|           429|    null|2018-09-03 20:39:00|2018|    9|     Monday|  20|  Part Two|      WOODROW AVE|42.28647012|-71.08714661|(42.28647012, -71...|
|     I182070921|        3201|       Property Lost|     PROPERTY - LOST|      B3|           469|    null|2018-09-02 14:00:00|2018|    9|     Sunday|  14|Part Three|        MULVEY ST|42.27924052|-71.09667382|(42.27924052, -71...|
|     I182070920|        3006|  Medical Assistance|SICK/INJURED/MEDI...|    null|              |    null|2018-09-03 19:43:00|2018|    9|     Monday|  19|Part Three|             null|42.35287456| -71.0738297|(42.35287456, -71...|
|     I182070919|        3301|     Verbal Disputes|      VERBAL DISPUTE|     C11|           341|    null|2018-09-03 18:52:00|2018|    9|     Monday|  18|Part Three|    STONEHURST ST|42.30526428|-71.06683755|(42.30526428, -71...|
|     I182070918|        3305|Assembly or Gathe...| DEMONSTRATIONS/RIOT|      D4|           130|    null|2018-09-03 17:00:00|2018|    9|     Monday|  17|Part Three|   HUNTINGTON AVE|42.34857652|-71.07772012|(42.34857652, -71...|
|     I182070917|        2647|               Other|THREATS TO DO BOD...|      B2|           901|    null|2018-09-03 19:52:00|2018|    9|     Monday|  19|  Part Two|      HORADAN WAY|42.33371742|-71.09665806|(42.33371742, -71...|
|     I182070915|         614|Larceny From Moto...|LARCENY THEFT FRO...|      B2|           181|    null|2018-09-02 18:00:00|2018|    9|     Sunday|  18|  Part One|       SHIRLEY ST| 42.3256949|-71.06816778|(42.32569490, -71...|
+---------------+------------+--------------------+--------------------+--------+--------------+--------+-------------------+----+-----+-----------+----+----------+-----------------+-----------+------------+--------------------+
only showing top 20 rows

In [6]:
offenseCodes = spark.read.option("header", "true").option("inferSchema", "true").csv("/tmp/offense_codes.csv")

In [7]:
offenseCodes.show()

+----+--------------------+
|CODE|                NAME|
+----+--------------------+
| 612|LARCENY PURSE SNA...|
| 613| LARCENY SHOPLIFTING|
| 615|LARCENY THEFT OF ...|
|1731|              INCEST|
|3111|LICENSE PREMISE V...|
|2646|LIQUOR - DRINKING...|
|2204|LIQUOR LAW VIOLATION|
|3810|M/V ACCIDENT - IN...|
|3801|M/V ACCIDENT - OTHER|
|3807|M/V ACCIDENT - OT...|
|3803|M/V ACCIDENT - PE...|
|3805|M/V ACCIDENT - PO...|
|3802|M/V ACCIDENT - PR...|
|3205|   M/V PLATES - LOST|
| 123|MANSLAUGHTER - NO...|
| 121|MANSLAUGHTER - VE...|
|3501|      MISSING PERSON|
|3502|MISSING PERSON - ...|
|3503|MISSING PERSON - ...|
| 111|MURDER, NON-NEGLI...|
+----+--------------------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import col, count, mean, month, median, year

In [9]:
crimeFacts = crimeFacts.withColumn("OCCURRED_ON_DATE", crimeFacts["OCCURRED_ON_DATE"].cast("timestamp"))

In [10]:
crimeFacts = (
    crimeFacts.withColumn("year", year(col("OCCURRED_ON_DATE")))
    .withColumn("month", month(col("OCCURRED_ON_DATE")))
)

In [11]:
crimes_total = crimeFacts.groupBy("DISTRICT").count().withColumnRenamed("count", "crimes_total")
crimes_total.show()

+--------+------------+
|DISTRICT|crimes_total|
+--------+------------+
|      C6|       23460|
|    null|        1765|
|      B2|       49945|
|     C11|       42530|
|     E13|       17536|
|      B3|       35442|
|      E5|       13239|
|     A15|        6505|
|      A7|       13544|
|     D14|       20127|
|      D4|       41915|
|     E18|       17348|
|      A1|       35717|
+--------+------------+

In [12]:
monthly_crimes = (
    crimeFacts.withColumn("month", month(col("OCCURRED_ON_DATE")))
    .groupBy("DISTRICT", "month")
    .count()
    .groupBy("DISTRICT")
    .agg(median(col("count"))
    .alias("crimes_monthly"))
)
monthly_crimes.show()

+--------+--------------+
|DISTRICT|crimes_monthly|
+--------+--------------+
|      C6|        1870.0|
|    null|         109.5|
|      B2|        3986.0|
|     C11|        3284.0|
|     E13|        1368.5|
|      B3|        2764.0|
|      E5|        1043.5|
|     A15|         499.0|
|      A7|        1092.0|
|     D14|        1607.5|
|      D4|        3297.5|
|     E18|        1313.0|
|      A1|        2775.0|
+--------+--------------+

In [13]:
coordinates = crimeFacts.groupBy("DISTRICT").agg(mean(col("Lat")), mean(col("Long")))
coordinates.show()

+--------+------------------+------------------+
|DISTRICT|          avg(Lat)|         avg(Long)|
+--------+------------------+------------------+
|      C6| 42.21212258445509|-70.85561011772268|
|    null| 25.23950519369344|-43.44877438704257|
|      B2| 42.31600367732632| -71.0756993065438|
|     C11| 42.29263740899965|-71.05125995734306|
|     E13|42.309803655709324|-71.09800478878299|
|      B3| 42.28305944520085|-71.07894914185519|
|      E5|42.197969994470235|-71.00440862434776|
|     A15|42.179155250910874|-70.74472508958492|
|      A7| 42.36070260499406| -71.0039483303988|
|     D14|  42.3435072451093|-71.13125461726422|
|      D4|42.341242517909265|-71.07725024947149|
|     E18|  42.2626806112253| -71.1189199875768|
|      A1| 42.33123077259858|-71.01991881361955|
+--------+------------------+------------------+

In [14]:
district_metrics = (
    crimes_total.join(monthly_crimes, on="District", how="left_outer")
    .join(coordinates, on="District", how="left_outer")
    .select(
        "District",
        "crimes_total",
        "crimes_monthly",
        col("avg(Lat)").alias("lat"),
        col("avg(Long)").alias("lng"))
)

district_metrics.show(truncate=False)

+--------+------------+--------------+------------------+------------------+
|District|crimes_total|crimes_monthly|lat               |lng               |
+--------+------------+--------------+------------------+------------------+
|null    |1765        |null          |null              |null              |
|A1      |35717       |2775.0        |42.33123077259858 |-71.01991881361955|
|A15     |6505        |499.0         |42.179155250910874|-70.74472508958492|
|A7      |13544       |1092.0        |42.36070260499406 |-71.0039483303988 |
|B2      |49945       |3986.0        |42.31600367732632 |-71.0756993065438 |
|B3      |35442       |2764.0        |42.28305944520085 |-71.07894914185519|
|C11     |42530       |3284.0        |42.29263740899965 |-71.05125995734306|
|C6      |23460       |1870.0        |42.21212258445509 |-70.85561011772268|
|D14     |20127       |1607.5        |42.3435072451093  |-71.13125461726422|
|D4      |41915       |3297.5        |42.341242517909265|-71.07725024947149|
|E13     |17536       |1368.5        |42.309803655709324|-71.09800478878299|
|E18     |17348       |1313.0        |42.2626806112253  |-71.1189199875768 |
|E5      |13239       |1043.5        |42.197969994470235|-71.00440862434776|
+--------+------------+--------------+------------------+------------------+

In [17]:
!pip install pyarrow
!pip install numpy
import numpy as np
from pyspark.sql.window import Window
import pyspark.sql.functions as F

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/jovyan/.local/lib/python3.11/site-packages (18.1.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/jovyan/.local/lib/python3.11/site-packages (2.2.0)

In [21]:
@F.pandas_udf('int')
def cumulative_sum(s):
    return s.apply(lambda x: np.cumsum(x))

cumsum_all_periods = (
    crimeFacts.groupBy(F.month('OCCURRED_ON_DATE'))
      .agg(F.count('*').alias('count'))
      .withColumn('cumulative_count', cumulative_sum('count'))
)

cumsum_all_periods.show()

25/01/11 08:18:25 WARN TaskSetManager: Lost task 0.0 in stage 36.0 (TID 39) (worker1 executor 1): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 814, in main
    func, profiler, deserializer, serializer = read_udfs(pickleSer, infile, eval_type)
                                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 650, in read_udfs
    udfs.append(read_single_udf(pickleSer, infile, eval_type, runner_conf, udf_index=i))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 375, in read_single_udf
    f, return_type = read_command(pickleSer, infile)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 87, in read_command
    command = serializer._read_with_length(file)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/serializers.py", line 174, in _read_with_length
    return self.loads(obj)
           ^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/serializers.py", line 472, in loads
    return cloudpickle.loads(obj, encoding=encoding)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/cloudpickle/cloudpickle.py", line 649, in subimport
    __import__(name)
ModuleNotFoundError: No module named 'numpy'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:561)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:514)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:891)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:891)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

25/01/11 08:18:25 WARN TaskSetManager: Lost task 0.1 in stage 36.0 (TID 40) (worker2 executor 2): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/worker.py", line 814, in main
    func, profiler, deserializer, serializer = read_udfs(pickleSer, infile, eval_type)
                                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/worker.py", line 650, in read_udfs
    udfs.append(read_single_udf(pickleSer, infile, eval_type, runner_conf, udf_index=i))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/worker.py", line 375, in read_single_udf
    f, return_type = read_command(pickleSer, infile)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/worker.py", line 87, in read_command
    command = serializer._read_with_length(file)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/serializers.py", line 174, in _read_with_length
    return self.loads(obj)
           ^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/serializers.py", line 472, in loads
    return cloudpickle.loads(obj, encoding=encoding)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000003/pyspark.zip/pyspark/cloudpickle/cloudpickle.py", line 649, in subimport
    __import__(name)
ModuleNotFoundError: No module named 'numpy'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:561)
	at org.apache.spark.sql.execution.python.PythonArrowOutput$$anon$1.read(PythonArrowOutput.scala:118)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:514)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:491)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:460)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:760)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:388)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:891)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:891)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:367)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:331)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:750)

25/01/11 08:18:25 ERROR TaskSetManager: Task 0 in stage 36.0 failed 4 times; aborting job

PythonException:
  An exception was thrown from the Python worker. Please see the stack trace below.
Traceback (most recent call last):
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 814, in main
    func, profiler, deserializer, serializer = read_udfs(pickleSer, infile, eval_type)
                                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 650, in read_udfs
    udfs.append(read_single_udf(pickleSer, infile, eval_type, runner_conf, udf_index=i))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 375, in read_single_udf
    f, return_type = read_command(pickleSer, infile)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/worker.py", line 87, in read_command
    command = serializer._read_with_length(file)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/serializers.py", line 174, in _read_with_length
    return self.loads(obj)
           ^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/serializers.py", line 472, in loads
    return cloudpickle.loads(obj, encoding=encoding)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/hadoop-jupyter/nm-local-dir/usercache/jupyter/appcache/application_1736583312854_0001/container_1736583312854_0001_01_000002/pyspark.zip/pyspark/cloudpickle/cloudpickle.py", line 649, in subimport
    __import__(name)
ModuleNotFoundError: No module named 'numpy'

In [22]:
cumsum_by_year = (
    crimeFacts.groupBy(F.year('OCCURRED_ON_DATE'), F.month('OCCURRED_ON_DATE'))
      .agg(F.count('*').alias('count'))
      .groupby('year(OCCURRED_ON_DATE)')
      .applyInPandas(cumulative_sum, schema='month int, count int, cumulative_count int')
)

ValueError: Invalid function: pandas_udf with function type GROUPED_MAP or the function in groupby.applyInPandas must take either one argument (data) or two arguments (key, data).